version: 2
jobs:
  build:
    docker:
      - image: bepsays/ci-goreleaser:1.21900.20200
    working_directory: /src
    steps:
      - checkout
      - run:
            command: |
                go mod download
workflows:
  version: 2
  release:
      jobs:
        - build:
            context: org-global
            filters:
              tags:
                only: /disabled-v[0-9]+(\.[0-9]+)*(-.*)*/
              branches:
                ignore: /.*/
